extends layout
block content
    .w3-card-4
        header.w3-container.w3-teal
            h3 Lista de Publicações
            a(href='http://localhost:7777/') Voltar atrás 

        if info.length > 0
            .w3-container
                table(class="w3-table-all")
                    tr 
                      th Nome
                    each p in info
                      tr
                        td
                          a(href='http://localhost:7777/pubs/' + p.p) #{p.p}
        else
          div(class="w3-container")
            p Publicações não encontradas ... 
        footer(class="w3-container w3-teal")
            address Gerado por António :: 2021-Março    