extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h3 Tabela Periódica

  .w3-container
    p: a(href='http://localhost:7777/elementos') Lista de elementos
    p: a(href='http://localhost:7777/grupos') Lista de grupos
    p: a(href='http://localhost:7777/periodos') Lista de periodos  